#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/css/*/' do
  # don't filter or layout
end

compile '*' do
  case item[:extension]
    when 'markdown'
      filter :kramdown
      layout 'default'
    when 'html'
      filter :erb
  end
end

route '*' do 
  if item.binary? 
    # /foo/ -> /foo.ext 
    item.identifier.chop + '.' + item[:extension] 
  else
    case item[:extension]
      when 'markdown'
        # /1-fr-utiliser-haiku/ -> /fr/utiliser-haiku/index.html 
        puts "id #{item.identifier}  lang #{language_code_of(item)} name #{name_of(item)}"
        item[:page_code] = page_code_of(item)
        item[:page_lang] = language_code_of(item)
        '/' + language_code_of(item) + '/' + name_of(item) + '/' + 'index.html'
      when 'css'
        item.identifier.chop + '.css'
    end
    
  end 
end 

layout '*', :erb
