body {
  background-color:white;
  font:13.34px helvetica,arial,freesans,clean,sans-serif;*font-size:small;
}

a {
  color: #4183C4;
  text-decoration: none;
}

.here {
  color: #616384;
}

#logo {
  position: absolute;
  top: 20px;
  left: 707px;
}

#main {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 667px;
}

#main h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main h2 {
  border-top: 4px solid #E0E0E0 !important;
  font-size: 150% !important;
  margin-top: 1.5em !important;
  padding-top: 0.5em !important;
}

h2, h3 {
margin: 1em 0px;
}

#main p {
  display: block;
  /*margin: 1em 0px;  */
  /*line-height: 20px;*/
  line-height: 1.5em !important;
  margin: 1em 0px !important;
}

#main code {
  background-color: ghostWhite !important;
  border: 1px solid #DEDEDE !important;
  color: #444 !important;
  font-size: 12px !important;
  padding: 0px 0,2em !important;
}

code {
  white-space: nowrap;
}

body * {
  line-height: 1,4em;
}

pre, code {
  font: normal normal normal 12px/normal Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

#main ul {
  margin: 20px;
}

#main li {
  list-style-type: square;
  font-size: 15px;
  line-height: 20px;
}

#sidebar {
  position: absolute;
  top: 80px;
  left: 707px;
  width: 200px;
  border-left: 4px solid #E0E0E0;
  text-align: left;
}

#sidebar h2 {
  text-transform: uppercase;
  font-size: 13px;
  color: #333;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 0 0;
}

#sidebar ul {
  list-style-type: none;  
  padding: 0 0;
}

#sidebar li {
  font-size: 14px;
  line-height: 20px;
}
